@(kundeDTO: models.KundenVerwaltungKomponente.DTO.KundeDTO)


@main{



    <b>Administrator</b><br>
    <p>Willkommen @if(kundeDTO != null){@kundeDTO.getVorname @kundeDTO.getNachname}</p>

    <br>
    <h4>Aktionen</h4>
    <ul>
        <li>
            <b>Analyse</b>
            <ul>
                <li>
                    <a href="@routes.Verlinkung.showABC_Analyse()">ABC Analyse durchf&uuml;hren</a>
                </li>
                <li>
                    <a href="@routes.Verlinkung.showAssAnalyse()">Assoziations Analyse</a>
                </li>
            </ul>
        </li>
        <li>
            <b>Shop</b>
            <ul>
                <li>
                    <a href="@routes.Verlinkung.showAddArtikel()">Artikel hinzuf&uuml;gen</a>
                </li>
                <li>
                    <a href="@routes.Verlinkung.showRemArtikel()">Artikel l&ouml;schen</a>
                </li>
                <li>
                    <a href="@routes.Verlinkung.showProduktListe()">Produktliste</a>
                </li>
            </ul>
        </li>
        <li>
            <b>Accountverwaltung</b>
            <ul>
                <li>
                    <a href="@routes.Account.kundeProfil()">Mein Profil</a>
                </li>
            </ul>
        </li>
    </ul>

    <br><br>
  <form action="/account" method="post">
    <button>Logout</button>
  </form>
}

