@(suchErgebnis: java.util.List[models.ProduktKomponente.DTO.ArtikelSimplelDTO], admin: Integer)


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//saeed.piwikpro.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//saeed.piwikpro.com/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->



@main{

    <div class="productSuche">
        <form action="/produkte" method="post" class="productSuche">
                <input type="text" name="suchbegriff">
                <button type="submit">suchen</button>
        </form>
    </div>



    @if(suchErgebnis != null){
        @for(artikel <- suchErgebnis){
            <div class="jumbotron productContainer">
                <div class="productPicPos">
                    <img alt="Artikel" src="@routes.Assets.at(artikel.getBildURL)" class="img-thumbnail productPic">
                    <div class="img-thumbnail productBestand">

                    @if(admin > 0) {
                        <center>@artikel.getBestand</center>
                    }else{
                        @if(artikel.getBestand > 0) {
                        <center style="color: green">Lieferbar</center>
                        }else{
                        <center style="color: red">nicht lieferbar</center>
                        }
                    }

                    </div>
                </div>

                <div class="productInfo img-thumbnail">
                    <b>@artikel.getBezeichnung</b><br>
                    <i>Artikelnummer: @artikel.getArtID</i><br>
                    @Html(artikel.getBeschreibung)
                </div>

                <form action="/produkte/add" method="post">
                    <input type="hidden" name="@WarenkorbPersistenz.WARENKORB_ACTION_NAME" value="@WarenkorbPersistenz.WARENKORB_ACTION_ARTIKEL_ADD">
                    <div class="productHinzufuegenUndPreis">
                        <div class="img-thumbnail productPreis">
                            <center><b>@artikel.getPreis &euro;</b></center>
                        </div>
                        @if(artikel.getBestand > 0){
                            <button type="submit" class="glyphicon glyphicon-plus pruductHinzufuegen"  name="artikelNummer" value="@artikel.getArtID"></button>
                        }else{
                            <button type="button" class="glyphicon glyphicon-plus pruductHinzufuegen"  name="artikelNummer" disabled></button>
                        }

                    </div>
                </form>
            </div>
        }

    }



}
