@charset "ISO-8859-1";

div.bodyContainer{
    background-color: #e2e8f4;
    position:relative;
    top:50px;
    left: 50%;
    width:700px;
    height:100%;
    margin-left: -350px;
    z-index: 1;
}

body.basic{
    background-color: #fff9ce;
}

div.loginBox{
    position: relative;
    top: 40px;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px;
}